<%- include('partials/header'); -%>
    <div class="post">
        <div class="post-head">
            <p class="post-type"><%= news.type %></p>
            <h1 class="post-title"><%= news.title %></h1>
            <p class="time"><i><%= news.created %></i></p>
            <p><i>Views: <%= news.counter %></i></p>
        </div>
        <img src="<%= news.image %>" id="imgPost">
        <p class="post-text"><%= news.body %></p>
        <div class="post-comments-field">
            <div class="post-comments-field-header">
                <p><strong>Comments:</strong></p>
            </div>
            <div class="comments-all">
            <% news.comments.forEach(function(comments){ %>
            <div class="single-comment">
                <p><strong><%= comments.author.name %></strong></p>
                <p class="time"><i><%= comments.created %></i></p>
                <p><%= comments.text %></p>
            </div>
            <% }); %>
            </div>
            <div class="post-comments-field-input">
                <form action="/<%= news._id %>/newcomment" method="POST" class="comments-form">
                    <textarea name="comments[text]" id="" rows="5" placeholder="Type a comment" required></textarea>
                    <button>Submit</button>
                </form>
            </div>
        </div>
        <form action="/" method="GET">
            <button  class="back-button">Go Back</button>
        </form>
        <form action="/<%= news._id %>?_method=delete" method="POST">
            <button>Delete</button>
        </form>
    </div>

<%- include('partials/footer'); -%>